<% 
var self = this; 
%>

<div class="row class-header">
	<div class="col-md-4">
		<h2 class="class-title">Class <%= this.makeLink(this.jsdoc, true) %></h2>
	</div>
	<div class="col-md-4">		
		<% if (this.jsdoc.extends && this.jsdoc.absoluteName != this.jsdoc.extends.absoluteName) { %>
		<h3 class="class-extends-title">Extends <%= this.printTypeAsString(this.jsdoc.extends)%></h3>
		<% } %>
	</div>
	<div class="col-md-4">
		<h3 class="class-module-title">Module <%= this.makeLink(this.jsdoc.module, true) %></h3>
	</div>
</div>


<div class="pull-right"><a href="<%= this.makeLink(this.jsdoc) %>?inherited=<%= this.options.inherited ? 0 : 1 %>"><%= this.options.inherited ? 'Hide' : 'Show' %> inherited properties</a></div>



<h3>Summary</h3>
<% var template = this.application.templates.classSummary;%>
<%= template.apply(this, arguments) %>

<div class="row">

	<div class="col-md-5">



		<% if(this.jsdoc.constructors && this.jsdoc.constructors.length) { %>
		<h3 class='methods'>Constructors</h3>
		<ul>
		<%
		_(this.jsdoc.constructors).each(function(method) { %>
		<%= self.printMethod(method)%>
			<li class="constructor">
				<% if(method.params && method.params.length) { %>
				Parameters:
				<ol class="params">
					<% _(method.params).each(function(param){ %>
					<li class="param">
						<span class="param-name"><%= param.name %></span>
						<span class="param-type"><%= self.printTypeAsString(param.type) %></span> 
					</li>
					<% }); %>
				</ol>
				<% } %>
			</li>
		<% }); %>
		</ul>
		<% } %>




		<% if(this.properties && _(this.properties).keys().length) { %>
		<h3 class='properties'>Properties</h3>
		<ul>
		<% 
		var self = this; 
		_(this.properties).each(function(p) { 
			var inherited = !JsDocMaker.classOwnsProperty(self.jsdoc, p); 
			//TODO: perform this in the view or plugin
			
			var inheritedByName = p.absoluteName.substring(0, p.absoluteName.lastIndexOf('.'));
			var inheritedBy = self.application.data.classes[inheritedByName] || {};
			
			%>
			<li class="property <%= inherited ? 'inherited' : '' %>">
				<a class='property-name' href="#property/<%= p.absoluteName %>"><%= p.name %></a>
				<span class="property-type"><%= self.printTypeAsString(p.type) %></span> 
				<%= !inherited ? '' : ('(inherited by ' + self.printTypeAsString(inheritedBy) + ')') %>
			</li>
		<% }); %>
		</ul>
		<% } %>





		<% if(this.methods && _(this.methods).keys().length) { %>
		<h3 class='methods'>Methods</h3>
		<ul>
		<%
		_(this.methods).each(function(method) { 
			var inherited = !JsDocMaker.classOwnsProperty(self.jsdoc, method); 
		%>

			<li class="method <%= inherited ? 'inherited' : '' %>">
				<%= self.makeLink(method, true)%>
				<% if(method.params && method.params.length) { %>
				Parameters: 
				<ol class="params">
					<% _(method.params).each(function(param){ %>
					<li class="param">
						<span class="param-name"><%= param.name %></span>: 
						<span class="param-type"><%= self.printTypeAsString(param.type) %></span> 
					</li>
					<% }); %>
				</ol>
				<% } %>

				<!-- TODO: do throw here ?  -->

				<% if(method.returns && (method.returns.type || method.returns.text)) {%>
				Returns: <%= self.printTypeAsString(method.returns.type) %>	
				<!-- <span class="returns-text"><%= method.returns.text || ''%></span> -->
				<% } %>
			</li>
		<% }); %>
		</ul>
		<% } %>




		<% if(this.jsdoc.events && _(this.jsdoc.events).keys().length) { %>
		<h3 class='events'>Events</h3>
		<ul>
		<% 
		var self = this; 
		_(this.jsdoc.events).each(function(p) { %>
			<li class="event">
				<a class='event-name' href="#event/<%= p.absoluteName %>"><%= p.name %></a>
			</li>
		<% }); %>
		</ul>
		<% } %>


	</div>

	<div class="col-md-7">

		<div class="class-text">
		<%= this.jsdoc.textHtml || self.getTextHtml(this.jsdoc.text) || this.jsdoc.text || '' %>
		</div>

		<div data-type="sources"></div>

	</div>
</div>
