<% 
var self = this; 
%>

<h2 class="class-title">Class <%= this.makeLink(this.jsdoc, true) %></h2>

<h3 class="class-module-title">Module <%= this.makeLink(this.jsdoc.module, true) %></h3>

<% if (this.jsdoc.extends) { %>
<h3 class="class-extends-title">Extends <%= this.printTypeAsString(this.jsdoc.extends)%></h3>
<% } %>

<p class="class-text"><%= this.jsdoc.text %></p>

<h3 class='methods'>Methods</h3>
<ul>
<%
_(this.jsdoc.methods).each(function(method) { %>
	<li class="method">
		<%= self.makeLink(method, true)%>
		<% if(method.params) { %>
		<h4 class="params-title">Parameters</h4>
		<ol class="params">
			<% _(method.params).each(function(param){ %>
			<li class="param">
				<span class="param-name"><%= param.name %></span>
				<span class="param-type"><%= self.printTypeAsString(param.type) %></span> 
			</li>
			<% }); %>
		</ol>
		<% } %>

		<h4 class="returns-title">Returns <%= self.printTypeAsString(method.returns.type) %></h4>
		<div class="returns-text"><%= method.returns.text || ''%></div>
	</li>
<% }); %>
</ul>



<h3 class='methods'>Properties</h3>
<ul>
<% 
var self = this; 
_(this.jsdoc.properties).each(function(p) { %>
	<li class="property">
		<a class='property-name' href="#property/<%= p.absoluteName %>"><%= p.name %></a>
		<span class="property-type"><%= self.printTypeAsString(p.type) %></span> 
	</li>
<% }); %>
</ul>

<%= this.application.templates.sources.apply(this, arguments) %>