<header class="main-header">
	<div class="row">

		<!-- <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
		<span class="col-sm-5 col-xs-12">
			<span class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				short-jsdoc demo
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#index">Index</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/cancerberoSgx/short-jsdoc">short-jsdoc home page</a></li>
				</ul>.
				
			</span>		
		</span>

		<!-- <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
		<span class="col-sm-7 col-xs-12">
			<span class="main-search pull-right">
			<a role="menuitem" tabindex="-1" href="#index">Index</a>
				Search <input class="typeahead1">
			</span>		
		</span>


	</div>

</header>