<header class="main-header container-fluid">

	<span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

		<span class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			short-jsdoc demo
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/cancerberoSgx/short-jsdoc">short-jsdoc home page</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
			</ul>
		</span>		
	</span>

	<span class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		<span class="main-search pull-right">
			Search <input class="typeahead1">
		</span>		
	</span>

</header>