<h2>Method <a href="<%= this.makeLink(this.jsdoc) %>"><%= this.jsdoc.name%></a></h2>

<h3>Of class <a href="#class/<%= this.jsdoc.ownerClass %>"><%= this.simpleName(this.jsdoc.ownerClass) %></a></h3>
<h3>Parameters</h3>

<ul>
<% var self = this, buffer = [];
_(this.jsdoc.params).each(function(param){
	var context = {type: param.type, typeTemplate: self.printType, buffer: buffer}; 
	self.printType(context); 
	var typeOutput = buffer.join(''); 
%>
	<li>name: <%= param.name%>, type: <%= typeOutput %></li>
<% }); %>
</ul>