<% if(this.isConstructor){%>
<h2>Constructor</h2>
<% } else {%>
<h2>Method&nbsp;<a href="<%= this.makeLink(this.jsdoc) %>"><%= this.jsdoc.name%></a></h2>
<% } %>


<h3>Of class <a href="#class/<%= this.jsdoc.ownerClass %>">
	<%= this.simpleName(this.jsdoc.ownerClass) %></a>
</h3>

<% if (this.jsdoc.text) { %>
<div class="method-text">
	<%= this.jsdoc.textHtml %>
</div>
<% } %>

<h3>Parameters</h3>

<ul>
<% var self = this, buffer = [];
_(this.jsdoc.params).each(function(param){
%>
	<li>
		name: <%= param.name%>, type: <%= self.printTypeAsString(param.type) %>
		<span class="param-text"><%= param.text %></span>
	</li>

<% }); %>
</ul>

<% if(!this.isConstructor){%>
	<%if (this.jsdoc.returns) { %>
		<h3 class="returns-title">Returns</h3>
		<%= self.printTypeAsString(this.jsdoc.returns.type) %>

		<% if(this.jsdoc.returns.text){ %>
			<p class="returns-text"><%= this.jsdoc.returns.text%></p>
		<% } %>

	<% }%>
<% }%>


<div data-type="sources"></div>