<% var self = this;%>



<div class="row method-header">
	<div class="col-md-4">
		<h2 class="method-title">
			<% if(this.isConstructor){ %>
			<h2>Constructor</h2>
			<% } else if(!this.isFunction) { %>
			<h2>Method&nbsp;<a href="<%= this.makeLink(this.jsdoc) %>"><%= this.jsdoc.name%></a></h2>
			<% } else { %>
			<h2>Function&nbsp;<a href="<%= this.makeLink(this.jsdoc) %>"><%= this.jsdoc.name%></a></h2>
			<% }%>
		</h2>
	</div>
	<div class="col-md-4">
		<% if(!this.isFunction){%>
		<h3>Of class <a href="#class/<%= this.jsdoc.ownerClass %>">
			<%= this.simpleName(this.jsdoc.ownerClass, this.ownerModule) %></a>
		</h3>
		<% } %>
	</div>

	<div class="col-md-4">
		<h3 class="class-module-title">Of Module <%= this.makeLink(this.ownerClass ? this.ownerClass.module : this.ownerModule, true) %></h3>
	</div>
</div>







<div class="row">
	<div class="col-md-4">

		<% if( this.jsdoc.params.length ) { %>
		<h3>Parameters</h3>
		<% } %>

		<ul class="parameter-list">
		<% _(this.jsdoc.params).each(function(param) { %>
			<li>
				<%= param.name%>: <%= self.printTypeAsString(param.type) %>
				<span class="param-text"><%= self.getTextHtml(param) %></span>
			</li>

		<% }); %>
		</ul>



		<% if(!this.isConstructor) { %>
			<%if (this.jsdoc.returns && (this.jsdoc.returns.type || this.jsdoc.returns.text) ) { %>
				<h3 class="returns-title">Returns</h3>
				<%= self.printTypeAsString(this.jsdoc.returns.type) %>

				<% if(this.jsdoc.returns.text){ %>
					<span class="returns-text"><%= self.getTextHtml(this.jsdoc.returns) %></span>
				<% } %>

			<% }%>
		<% }%>




		<% if(this.jsdoc.throws && this.jsdoc.throws.length) { %>

		<h3>Throws</h3>

		<ul class="throws-list">
		<% _(this.jsdoc.throws).each(function(t) { %>
			<li>
				<%= self.printTypeAsString(t.type) %>
				<span class="param-text"><%= self.getTextHtml(t) %></span>
			</li>
		<% }); %>
		</ul>

		<% } %>
	</div>



	<div class="col-md-8">
		<% if (this.jsdoc.text) { %>
		<div class="method-text">
			<%= this.jsdoc.textHtml %>
		</div>
		<% } %>
		
		<div data-type="sources"></div>
	</div>
</div>


