<% 
var self = this;
%>

<h2 class="module-title">Module <%= this.jsdoc.name%></h2>

<% if (this.jsdoc.text) { %>
<div class="method-text">
	<%= this.jsdoc.textHtml %>
</div>
<% }%>

<h3>Classes</h3>

<ul class="classes">
<% _(this.classes).each(function(c) { %>
	<li>
		<a class="module-class-name"href="#class/<%= c.absoluteName %>"><%= c.name %></a>		

		<ul class="module-class-properties-list">
		<% _(c.methods).each(function(m){ %>
			<li><a href="<%= self.makeLink(m)%>"><%= m.name%>(), </a>
		<%}) %>
		<% _(c.properties).each(function(m){ %>
			<li><a href="<%= self.makeLink(m)%>"><%= m.name%>, </a>
		<%}) %>
		</ul>
		<% _(c.attributes).each(function(m){ %>
			<li><a href="<%= self.makeLink(m)%>"><%= m.name%>, </a>
		<%}) %>
		</ul>
	</li>
<% }); %>
</ul>


<h3>Functions</h3>
<ul class="Functions">
<% _(this.jsdoc.functions).each(function(c) { %>
	<li>
		<a class="module-function-name"href="#function/<%= c.absoluteName %>"><%= c.name %></a>		

	</li>
<% }); %>
</ul>