<div class="modules">

<h3><a href="#modules">Modules</a></h3>

<% 
var self = this; %>
<ul class="modules-list">
<% _(this.modules).each(function(m) { %>
	<li class="modules-module"><a class='module-name' href="#module/<%= m.name %>"><%= m.name %></a>
		<ul class="modules-classes-list">
		<% 
		/* TODO: make a view */
		var moduleClasses = self.getModuleClasses(m.name, self.application.data); 
		_(moduleClasses).each(function(c) { %>
			<li class="modules-class"><a class='class-name <%= c.annotation%>' href="#class/<%= c.absoluteName %>"><%= c.name %></a>, </li>
		<% }); %>
		</ul>
	</li>
<% }); %>
</ul>

</div>