.class-hierarchy, .known-subclasses {
	ul li {
		display: inline;
		padding-left: 8px;
	}
}

.inherited {
	opacity: 0.5;
}

.params, .params ol, .params li{
	display: inline;padding: 0;
}


.method-header, .class-header {
	h3 {
		margin-top: 26px;
	}
}


.class-header {
	background-color: #ededed;
	margin:0px;
}

.class-view .partial-text {
	font-size: 0.93em;
	color: #888888; 
	font-style: italic;
}

.inline-methods, .inline-properties, .inline-events, .inline-attributes {
	h3 {
		font-size: 18px;
		margin-top: 10px;
	}
	.returns-title{
		display: inline;
		font-size: 16px;
		margin: 0;
	}
	.method-title{
		margin-top: 18px;
	}
	.parameter-list{
		margin: 0;
	}
	.property-view{
		margin-top: 30px;
	}
}

