@import "header.less"; 
@import "sources.less";  


/*types */

.external .glyphicon {
	/*padding-left: 5px;*/
	font-size: 0.8em;
}

.type {
	padding-right: 6px;
}

.type-separator
{
	padding-right: 6px;
}

.inherited {
	opacity: 0.5;

/*	.property-name, .method-name {
		color: #A9B9C7;	
	}*/
}