
@media print {

	//hide the hrefs in the pdf output
	a[href]:after {
	   content:"" !important;
	}

	//page breaks support:
	.book-class {
		display: block; 
		page-break-before: always; 
	}

	.header-view {
		display: none
	}
}