.main-header {
  background-color: #ededed;
  padding: 10px;
}
.main-search .tt-dropdown-menu {
  overflow-y: auto;
  opacity: 0.8;
}
.twitter-typeahead {
  top: -15px;
  display: block;
  width: 200px;
  cursor: pointer;
}
.twitter-typeahead .suggestion-value {
  text-decoration: underline;
}
.twitter-typeahead .suggestion-type {
  font-size: 0.8em;
  font-style: italic;
}
.tt-dropdown-menu {
  width: 600px;
  left: -400px !important;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
  .tt-dropdown-menu {
    left: 0px !important;
  }
}
.tt-hint {
  color: #999999;
}
.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 18px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.selectedJsDocLine {
  border: 3px solid pink;
}
.linenums > li * {
  tab-size: 4;
}
.parse textarea {
  diaplay: block;
  width: 100%;
  height: 200px;
}
.main-view-container .tree li {
  list-style: none;
  /*padding: 0;*/
}
.tree-node-type-module {
  padding-bottom: 16px;
}
.tree-node-type-module .module-name {
  font-size: 1.1em;
  font-weight: bold;
}
/*'.tree {\n'+
'    min-height:20px;\n'+
'    padding:19px;\n'+
'    margin-bottom:20px;\n'+
'    background-color:#fbfbfb;\n'+
'    border:1px solid #999;\n'+
'    -webkit-border-radius:4px;\n'+
'    -moz-border-radius:4px;\n'+
'    border-radius:4px;\n'+
'    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);\n'+
'    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);\n'+
'    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)\n'+
'}\n'+
'.tree li {\n'+
'    list-style-type:none;\n'+
'    margin:0;\n'+
'    padding:10px 5px 0 5px;\n'+
'    position:relative\n'+
'}\n'+
'.tree li::before, .tree li::after {\n'+
'    content:\'\';\n'+
'    left:-20px;\n'+
'    position:absolute;\n'+
'    right:auto\n'+
'}\n'+
'.tree li::before {\n'+
'    border-left:1px solid #999;\n'+
'    bottom:50px;\n'+
'    height:100%;\n'+
'    top:0;\n'+
'    width:1px\n'+
'}\n'+
'.tree li::after {\n'+
'    border-top:1px solid #999;\n'+
'    height:20px;\n'+
'    top:25px;\n'+
'    width:25px\n'+
'}\n'+
'.tree li span {\n'+
'    -moz-border-radius:5px;\n'+
'    -webkit-border-radius:5px;\n'+
'    border:1px solid #999;\n'+
'    border-radius:5px;\n'+
'    display:inline-block;\n'+
'    padding:3px 8px;\n'+
'    text-decoration:none\n'+
'}\n'+
'.tree li.parent_li>span {\n'+
'    cursor:pointer\n'+
'}\n'+
'.tree>ul>li::before, .tree>ul>li::after {\n'+
'    border:0\n'+
'}\n'+
'.tree li:last-child::before {\n'+
'    height:30px\n'+
'}\n'+
'.tree li.parent_li>span:hover' + 
	(TreeWidget.cssOptions.hoverChildren ? ', .tree li.parent_li>span:hover+ul li span ' : '') + 
	'{\n'+
'    background:'+TreeWidget.cssOptions.hoverColor+';\n'+
'    border:1px solid #94a0b4;\n'+
'    color:#000\n'+
'}\n'+*/
.class-hierarchy ul li,
.known-subclasses ul li {
  display: inline;
  padding-left: 8px;
}
.inherited {
  opacity: 0.5;
  /*	.property-name, .method-name {
		color: #A9B9C7;	
	}*/
}
.params,
.params ol,
.params li {
  display: inline;
  padding: 0;
}
.method-header h3,
.class-header h3 {
  margin-top: 26px;
}
.class-header {
  background-color: #ededed;
  margin: 0px;
}
/*[data-type="main-view-container"], [data-type="header-container"]{margin:-15px;}*/
.class-view .partial-text {
  font-size: 0.93em;
  color: #888888;
  font-style: italic;
}
.external .glyphicon {
  /*padding-left: 5px;*/
  font-size: 0.8em;
}
.type {
  padding-right: 6px;
}
.type-separator {
  padding-right: 6px;
}
.main-view-container li {
  /*list-style: none; */
  /*padding-bottom: 8px;*/
}
.main-view-container ul {
  padding-left: 17px;
}
.container {
  padding-right: 0px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}
.metadata-name {
  font-weight: bold;
}
.module-class-properties-list li {
  display: inline;
}
.module-class-name {
  font-size: 1.1em;
  font-weight: bold;
}
.modules .module-name {
  margin: 1.2em 0 1.4em 0;
  font-size: 1.3em;
  font-weight: bold;
  /*display: block;*/
}
.modules .modules-classes-list * {
  display: inline;
}
/* dependencies.less*/
.loading-message {
  margin: 40px auto 0 auto;
  display: block;
  font-weight: bold;
  font-size: 24px;
}
